/* Custom Properties */
:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;

    --primario: #1033ba;
    --secundario: #00da55;
    --gris: #3b3b3b;
    --grisClaro: #e1e1e1;
    --blanco: #ffffff;
    --negro: #1f1e1f;

}

/* Globales */
html {
    box-sizing: border-box;
    /* convierte 1rem a 10px */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}